*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --greyish-purple: #666ca3;
  --navy-blue: #13183f;
  --dark-grey: #83869a;
  --hot-pink: #f74780;
  --light-pink: #ffa7c3;
  --white: #ffffff;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.btn {
  border: none;
  border-radius: 28px;
  font-size: 1rem;
  font-weight: 700;
  color: var(--white);
  padding: 9px 24px 11px;
  cursor: pointer;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar {
  margin: 1rem 1rem 2.375rem;
}

.navbar-and-footer-styles ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-and-footer-styles ul li {
  list-style-type: none;
}

.skilled-text {
  font-weight: 800;
  font-size: 1.75rem;
}

.navbar-btn {
  background: var(--navy-blue);
}

.navbar-btn:hover {
  background-color: var(--greyish-purple);
}

.hero-section {
  max-width: 343px;
}

.title {
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 50.4px;
  margin-bottom: 1.625rem;
}

.hero-paragraph {
  margin-bottom: 1.5rem;
  font-weight: 500;
  color: var(--dark-grey);
  line-height: 26px;
  font-size: 1rem;
}

.cta-btn {
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  border-radius: 31.5px;
  max-width: 176px;
  padding: 0.938rem 2.313rem 0.938rem 2.313rem;
}

.cta-btn:hover {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
}

.hero-mobile-img {
  max-width: 327px;
  margin-top: 2.875rem;
  margin-bottom: 4.125rem;
}

.course-card-container {
  background: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
}

.course-intro-card {
  background: linear-gradient(180deg, #ff6f48 0.04%, #f02aa6 100%);
  color: var(--white);
  line-height: 32px;
  font-weight: 800;
  font-size: 1.5rem;
  padding: 1.5rem 1.813rem 2rem 1.75rem;
  border-radius: 10px;
  margin-bottom: 2rem;
  max-width: 343px;
}

.course-card {
  background-color: var(--white);
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
  border-radius: 10px;
  padding: 1.5rem 0 2rem 1.75rem;
  margin-bottom: 2.5rem;
  position: relative;
  max-width: 343px;
}

.course-icon {
  position: absolute;
  top: -20px;
}

.course-title {
  font-weight: 800;
  font-size: 1.25rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.course-description {
  font-weight: 500;
  font-size: 1rem;
  line-height: 26px;
  color: var(--dark-grey);
  margin-bottom: 1.5rem;
}

.get-started-link {
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--hot-pink);
  text-decoration: none;
}

.get-started-link:hover {
  color: var(--light-pink);
}

.footer {
  background-color: var(--navy-blue);
  padding: 2.688rem 1rem 2.625rem;
  color: var(--white);
}

.footer-btn {
  background: linear-gradient(180deg, #4851ff 0%, #f02aa6 100%);
}

.footer-btn:hover {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
}

@media (min-width: 768px) {
  .flex-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
